body {
  background-color: #f5f5de;
  font-family: sans-serif;
}

button {
  margin-right: 0.5rem;
}

input[type='number'] {
  width: 3rem;
}

#results {
  color: blue;
  font-weight: bold;
}

.row {
  display: flex;
  margin-top: 1rem;
}

.row > div {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
